html, body, div, span,
h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

hr {
    height: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
button
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 0.8;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6
 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 2em;
    color: darkorange;
    width:100%
}



#container{
    width:96%;
    min-height: 600px;
    padding:1%
}
input{
    font-size: 10px;
    width: 110px;
    height:10px;
    border: 1px solid #AAA;
    padding: 5px 5px 5px 5px;
    background: #fafafa;
    margin-right: 5px;
}

#addBtn{
    display:block;
}
#actionPanel{
    width:25%;
    min-height:600px ;
    border:solid 1px lightgrey;
    float:left;
    padding:10px ;
}
#container{
    padding:10px
}
#public{
    float:right !important;
}
#canvas{
    width:70%;
    padding:10px;
    min-height: 600px;
    border:solid 1px lightgrey;
    float:right;
    background-color: hotpink;
}
#canvas h1{
    color:white;
}
.pictograph{
    padding:10px;
    border:solid 1px;
    float:left;
    position:absolute
}